<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<!-- RMP Entity Resource Service-->
	<servlet>
		<servlet-name>Resource</servlet-name>
		<servlet-class>edu.sjtu.istlab.rmp.rest.server.service.DorService</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>Resource</servlet-name>
		<url-pattern>/resource/*</url-pattern>
	</servlet-mapping>

    <!-- RMP-Struts Integration-->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>

    <!-- RMP  Welcome-->
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
